@import "../lib/twitter-bootstrap/scss/variables";
@import "variables";
@import "../lib/twitter-bootstrap/scss/mixins";
@import "mixins";


.site-header {
    background: $white;
    position: relative;
    z-index: 5;

    &::before {
        background: $white;
        bottom: 0;
        content: '';
        left: 0;
        position: absolute;
        top: 0;
        width: 100vw;
        z-index: -1;
    }

    @include media-breakpoint-up(lg) {
        align-items: center;
        display: flex;
        height: 0; //IE 11 flex align center hack
        min-height: 11.8rem;
    }

    &__inner {
        align-items: center;
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        padding: 0;
        width: 100%;

        @include media-breakpoint-up(lg) {
            flex-wrap: nowrap;
            margin: auto;
            max-width: map-get($container-max-widths, lg);
        }

        @include media-breakpoint-up(xl) {
            max-width: map-get($container-max-widths, xl);
        }
    }

    .logo {
        align-self: center;
        display: inline-block;
        height: 4.5rem;
        margin: 0 auto 0 $grid-gutter-width/2;
        width: 12.5rem;

        @include media-breakpoint-up(lg) {
            height: 9.1rem;
            width: 25.5rem;
        }

        > img {
            display: block;
        }
    }

    .call {
        align-items: center;
        border-left: 2px solid #e7e7e7;
        color: $secondary;
        display: flex;
        flex-direction: column;
        font-size: 0;
        justify-content: center;
        margin-left: 2.4rem;
        padding: 2rem 1.4rem;
        text-decoration: none;

        @include hover-focus {
            color: $primary;
            outline-offset: -2px;

            > div {
                color: $secondary;
                text-decoration: underline;
            }
        }

        @include media-breakpoint-up(lg) {
            padding: 1.1rem 1.4rem;
        }

        .fas {
            font-size: 1.8rem;
        }

        > div {
            color: #565b5c;
            font-size: 0;

            @include media-breakpoint-up(lg) {
                display: block;
                font-size: 1.3rem;
                margin-top: 1.1rem;
            }
        }
    }
}
