@model String

<div class="container">
    <div class="row">
        <div class="col-lg-8 offset-lg-1 richtext">
            <partial name="~/Components/ViewComponents/RichText/RichText.cshtml" for="@Model" />
        </div>
    </div>
</div>