<div class="ktc-default-section">
    <div class="row">
        <div class="col-lg-6">
            @await Html.Kentico().FormZoneAsync()
        </div>
        <div class="col-lg-6">
            @await Html.Kentico().FormZoneAsync()
        </div>
    </div>
</div>
