@import "../lib/twitter-bootstrap/scss/variables";
@import "../variables";
@import "../lib/twitter-bootstrap/scss/mixins";
@import "../mixins";

.banner {

    @include media-breakpoint-up(lg) {
        background: linear-gradient( 189deg,rgba(255,255,255,0) 0,rgba(255,255,255,0) calc(66% - 1px), rgba(#1faa96, .3) 66%, rgba(#1faa96, .3) 100%);
        padding: 2rem 0 2.4rem;
    }

    > .container {
        position: relative;

        @include media-breakpoint-down(md) {
            max-width: none;
            padding: 0;
        }
    }

    &__img {
        width: 100%;

        @include media-breakpoint-up(lg) {
            height: 55.5rem;
            transform: translateX(18rem);
            width: auto;
        }

        @include media-breakpoint-up(xl) {
            transform: translateX(0);
        }
    }

    &__content {
        @include media-breakpoint-up(lg) {
            left: -6rem;
            position: absolute;
            top: 50%;
            width: 61.5rem;
        }

        &-inner {
            background: $primary;
            color: $white;
            padding: 2rem 2rem 1.5rem;
            text-align: center;

            @include media-breakpoint-up(lg) {
                padding: 2.5rem 7.5rem;
                text-align: left;
                transform: translateY(-50%);
            }
        }
    }

    &__heading {
        color: $white;
        font-size: 2.6rem;
        font-weight: $font-weight-extrabold;
        line-height: 1.1538;
        margin-bottom: 1.5rem;

        @include media-breakpoint-up(lg) {
            font-size: 5.5rem;
            margin-bottom: 2.5rem;
        }
    }

    &__sub {
        margin-bottom: 1.5rem;

        @include media-breakpoint-up(lg) {
            font-size: 1.8rem;
            margin-bottom: 1rem;
        }
    }

    &__decoration {
        height: 6rem;
        position: absolute;
        right: 0;
        top: 0;
        z-index: 1;

        @include media-breakpoint-up(lg) {
            top: -2rem;
            height: 15.3rem;
            right: -11rem;
        }
    }
}
