@import "../lib/twitter-bootstrap/scss/variables";
@import "../variables";
@import "../lib/twitter-bootstrap/scss/mixins";
@import "../mixins";

.cross-promo {
    margin-bottom: 1.5rem;
    padding-bottom: 2.5rem;
    position: relative;
    text-align: center;

    @include media-breakpoint-up(lg) {
        margin-bottom: 2.5rem;
        padding: 0 0 8rem;
        text-align: left;
    }

    &__bg {
        background: linear-gradient( 175deg,rgba(255,255,255,0) 0,rgba(255,255,255,0) calc(20% - 1px), $light 20%, $light 100%);
        height: 100%;
        left: 0;
        position: absolute;
        right: 0;
        top: 0;
        width: 100%;
        z-index: -1;

        @include media-breakpoint-up(lg) {
            background: linear-gradient( 175deg,rgba(255,255,255,0) 0,rgba(255,255,255,0) calc(26% - 1px), $light 26%, $light 100%);
        }
    }

    &__img {
        margin: 0 auto 2rem;
        max-width: 100%;

        @include media-breakpoint-up(lg) {
            margin: 0;
            max-width: none;
            transform: translate($grid-gutter-width, 4rem);
        }
    }

    &__heading {
        margin: 0 2.5rem 1rem;
        padding-bottom: 1.2rem;
        position: relative;

        @include media-breakpoint-up(lg) {
            font-size: 4.5rem;
            margin: 0 0 2rem;
            padding-bottom: 2.2rem;
            width: 66%;
        }

        &::after {
            background: $bright-green;
            bottom: 0;
            content: '';
            height: 2px;
            left: 0;
            margin: auto;
            position: absolute;
            right: 0;
            width: 6.5rem;

            @include media-breakpoint-up(lg) {
                right: auto;
            }
        }
    }

    &__sub {
        margin: 0 2.5rem 1.3rem;
        width: 100%;

        @include media-breakpoint-up(lg) {
            margin: 0 6.5rem 1.3rem 0;
        }
    }
}
