@model MyLSB.Models.ViewModels.ChangeOrderRequestFormViewModel

<script src="https://www.google.com/recaptcha/api.js" async defer></script>

@using (Html.BeginForm("Index", "ChangeOrderRequestForm", FormMethod.Post, new { @class = "needs-validation", @novalidate = "novalidate" }))
{
    @Html.AntiForgeryToken()

    <div class="form-row">
        <div class="col">
            <div class="form-group">
                @Html.LabelFor(m => m.NameOfBusiness)<span class="text-danger">*</span>
                @Html.TextBoxFor(m => m.NameOfBusiness, new { @class = "form-control", @required = "required" })
            </div>
        </div>
    </div>
    <div class="recaptcha">
        <div class="g-recaptcha" data-sitekey="6LdQf7oaAAAAAF1wmQVSR1oL51kFYDgkkf58ToXn" data-callback="onSubmitChangeOrderRequestForm" data-size="invisible"></div>
    </div>
    <div class="form-row">
        <div class="col">
            <div class="form-group">
                <button type="submit" class="btn btn-primary submit">Submit</button>
                <small class="spinner text-muted d-none">
                    <i class="fas fa-circle-notch fa-spin ml-2 mr-1"></i> Submitting form&hellip;
                </small>
            </div>
        </div>
    </div>
}
