@model Iframe
<div @Html.Raw(!string.IsNullOrEmpty(Model.IframeBackgroundDesign) && Model.IframeBackgroundDesign!="Select"  ? "class=\"iframe-show-bg\"" : "")>
    @if (Model.IframeBackgroundDesign.Contains("foreground")) { <img src="/images/triangle-tr-bg.svg" alt="" aria-hidden="true" class="foreground-shape">}
    @if (Model.IframeBackgroundDesign.Contains("background")) { <div class="background-shape"></div>}   
    
    <div class="container">
        <div class="row">
            <div class="col-lg-8 offset-lg-1">
                <partial name="~/Components/ViewComponents/Iframe/Iframe.cshtml" for="@Model" />
            </div>
        </div>
    </div>
</div>