@model Iframe

<div class="container">
    <div class="row">
        <div class="col-lg-8 offset-lg-1">
            <partial name="~/Components/ViewComponents/Iframe/Iframe.cshtml" for="@Model" />
        </div>
    </div>
</div>