@model Settings

@{
    var tel = Model.Fields.PhoneNumber
        .Replace("(", "")
        .Replace(")", "")
        .Replace("-", "");
}

<div class="site-footer__contact">
    <span class="site-footer__contact-heading">Get in Touch</span>
    @if (!String.IsNullOrEmpty(Model.Fields.PhoneNumber))
    {
        <a href="tel:@tel">@Html.Raw(Model.Fields.PhoneNumber)</a>
    }
    @if (!String.IsNullOrEmpty(Model.Fields.ContactPageUrl))
    {
        <a href="@Url.Content(Model.Fields.ContactPageUrl)">Contact Us Online</a>
    }
    <vc:social-media-links />
</div>